.icon-base {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.icon-close-circle {
  background-image: url("index.svg-test.svg#close-circle-view");
}
.icon-twitter {
  background-image: url("index.svg-test.svg#twitter-view");
}
.icon-instagram {
  background-image: url("index.svg-test.svg#instagram-view");
}
.icon-facebook {
  background-image: url("index.svg-test.svg#facebook-view");
}
.icon-cthiebaud {
  background-image: url("index.svg-test.svg#cthiebaud-view");
}
.icon-github {
  background-image: url("index.svg-test.svg#github-view");
}
.icon-youtube {
  background-image: url("index.svg-test.svg#youtube-view");
}
.icon-home {
  background-image: url("index.svg-test.svg#home-view");
}
.icon-treble_clef {
  background-image: url("index.svg-test.svg#treble_clef-view");  
}
.icon-bach_siel_full_left {
  background-image: url("index.svg-test.svg#bach_siel_full_left-view");
}
.icon-bach_siel_full_right {
  background-image: url("index.svg-test.svg#bach_siel_full_right-view");
}
.icon-bach_signature {
  background-image: url("index.svg-test.svg#bach_signature-view");
}
.icon-violin {
  background-image: url("index.svg-test.svg#violin-view");
}
.icon-ukulele {
  background-image: url("index.svg-test.svg#ukulele-view");
}
.icon-keyboard {
  background-image: url("index.svg-test.svg#keyboard-view");
}
.icon-harp {
  background-image: url("index.svg-test.svg#harp-view");
}
.icon-xylophone {
  background-image: url("index.svg-test.svg#xylophone-view");
}
.icon-flute {
  background-image: url("index.svg-test.svg#flute-view");
}


