.icon-base {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.icon-close-circle {
  background-image: url("index.svg?v=0.10.5#close-circle-view");
}
.icon-twitter {
  background-image: url("index.svg?v=0.10.5#twitter-view");
}
.icon-instagram {
  background-image: url("index.svg?v=0.10.5#instagram-view");
}
.icon-facebook {
  background-image: url("index.svg?v=0.10.5#facebook-view");
}
.icon-cthiebaud {
  background-image: url("index.svg?v=0.10.5#cthiebaud-view");
}
.icon-github {
  background-image: url("index.svg?v=0.10.5#github-view");
}
.icon-youtube {
  background-image: url("index.svg?v=0.10.5#youtube-view");
}
.icon-home {
  background-image: url("index.svg?v=0.10.5#home-view");
}
.icon-treble_clef {
  background-image: url("index.svg?v=0.10.5#treble_clef-view");  
}
.icon-bach_siel_full_left {
  background-image: url("index.svg?v=0.10.5#bach_siel_full_left-view");
}
.icon-bach_siel_full_right {
  background-image: url("index.svg?v=0.10.5#bach_siel_full_right-view");
}
.icon-bach_signature {
  background-image: url("index.svg?v=0.10.5#bach_signature-view");
}
.icon-violin {
  background-image: url("index.svg?v=0.10.5#violin-view");
}
.icon-ukulele {
  background-image: url("index.svg?v=0.10.5#ukulele-view");
}
.icon-keyboard {
  background-image: url("index.svg?v=0.10.5#keyboard-view");
}
.icon-harp {
  background-image: url("index.svg?v=0.10.5#harp-view");
}
.icon-xylophone {
  background-image: url("index.svg?v=0.10.5#xylophone-view");
}
.icon-flute {
  background-image: url("index.svg?v=0.10.5#flute-view");
}


