body {
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  /* fallback for browsers that do not support custom properties */
  height: 100vh;
  /* custom properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: black;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vh) * 100);
}

#loading {
  cursor: wait;
}

#loading .spinner-border, #loading-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  color: #57728b; /* https://hexcolorpedia.com/color/57728B/  Arrowhead Lake Color | 58728a */
  border-width: 0.5rem;
}

#loading-text {
  text-align: center;
  padding-top: 6rem;
}

.container-fluid {
  height: calc(var(--vh, 1vh) * 100);
}

a {
  text-decoration: none;
}

#gridContainer {
  padding: 0.5rem 0;
}

#gridContainerCol {
  margin: 0;
  padding: 0;
}

#gridContainerCol.push2right {
  max-width: min(var(--vw, 1vw) * 100, 23rem);
  height: calc(var(--vh, 1vh) * 100 - 57px) !important;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.fullwidth {
  max-width: 100% !important;
  width: 100% !important;
}

/* + + + + + + + + +  */

.grid-brick {
  font-size: 1.4rem;
  width: min(var(--vw, 1vw) * 100, 23rem);
  height: 6rem;
  padding: 0.4rem;
  border-style: dashed solid;
  border-width: 2px !important;
}

.grid-brick .brick {
  cursor: pointer;
  border-radius: 0 3rem 3rem 0;
  width: 100%;
  height: 100%;
}

.grid-brick.selected .brick {
  border-radius: 0 !important;
}

.grid-brick .brick .score {
  position: relative;
  height: 5rem;
  border-radius: 0 3rem 3rem 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid-brick.hasScore.selected .score {
  border-radius: 0 !important;
  background-color: #ffffffe0 !important;
  width: 100% !important;
  overflow-x: scroll;
}

.score object {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  background-clip: padding-box;
  position: absolute;
  display: block;
}

.grid.gbPlaying object {
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.grid-brick:not(.selected) {
  border-color: transparent !important;
}

.grid-brick.hasScore.selected .brick :not(:first-child) {
  display: none !important;
}

.grid-brick.hasScore.selected {
  background-color: #ffffffe0 !important;
}

.grid-brick:not(.gbPlaying) {
  border-color: transparent !important;
}

.grid-brick.Δ {
  background-color: rgba(128, 128, 128, 0.3);
}

/* + + + + + + + + +  */

div.siegel {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

div.siegel#logoLeft {
  background-image: url("svg/Bach_Seal_full_left_120x120.svg");
  left: -111vw;
}

div.siegel#logoRight {
  background-image: url("svg/Bach_Seal_full_right_120x120.svg");
  left: + 111vw;
}

.glowing_bubble_siegel {
  width: 100%;
  margin: 0 0.6rem;
  background-image: url("svg/Bachsiegel_glowing_bubble.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ddd;
  background-position-x: center;
  background-size: 60%;
  background-position-y: 50%;
  border-radius: 1rem;
}

.magnificent-card {
  font-family: "Cinzel", serif;
  font-size: 24px;
  outline: 1px solid gray;
  outline-offset: -2px;
  background-clip: content-box;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  color: #121212;
}

div#gb-artist > div > div  {
  background-color: #505050c0; 
  border-radius: .5rem;  
}
div#gb-artist > div > div > * {
  margin: 0;
}
div#gb-artist > div > div > *:first-child {
  padding: 0;
}
div#gb-artist > div > div > *:not(:first-child) {
  padding: 0 0 0 .5rem;
}

span.Δ {
  font-family: "Cinzel", serif;
  font-size: smaller;
  float: left;
  padding-right: 0.3rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 1rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 0 0.4rem 0 0.2rem;
}

.video-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  opacity: 1;
}

#playerWrapper
  > div
  > div.plyr__controls
  > div.plyr__controls__item.plyr__menu {
  display: none;
}

.plyr:not(.plyr--playing) .plyr__video-embed {
  filter: blur(0.8rem);
}

/* https://stackoverflow.com/a/60192837/1070215 */
.plyr .plyr__video-embed {
  position: relative;
  overflow: hidden;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
}

.plyr .plyr__video-embed iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .plyr .plyr__video-embed iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .plyr .plyr__video-embed iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: calc(var(--vh, 1vh) * 177.78);
  }
}

iframe {
  display: block;
  margin: 0 auto;
}

li a.dropdown-item {
  max-height: 30px;
}


li a.dropdown-item img {
  height: 40px;
  overflow-y: visible;
  float: left;
}

li a.dropdown-item img#keyboard {
  width: 50px;
  height: auto;
}

li a.dropdown-item div {
  margin-left: 1rem;
}

.d-flex[style*="display:none"],
.d-flex[style*="display: none"] {
  display: none !important;
}
